body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
        label, input {
            font-size: 2em; /* Adjust as needed */
        }

        /* Double the width and height for input */
        input {
            width: 2em; /* Adjust as needed */
            height: 2em; /* Adjust as needed */
            border-radius: 10px; /* Rounded corners */
        }